* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto !important;
}
.news {
  max-width: 800px;
  margin: 0 auto;

  &__title {
    text-align: center;
  }
}

.news-list {
  &__item {
    display: block;
    border: 2px solid #000;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  &__title {
    margin: 0;
    padding: 10px 0;
    cursor: pointer;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }
}

.news-btn {
  display: block;
  width: 150px;
  font-size: 18px;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #000;
  margin: 0 auto;
}

.error {
  color: crimson;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
}

.news-wrap {
  position: relative;
}
